body {
  position: relative;
  background: url(../images/bg_main.png) no-repeat;
  background-size: 100% 200vh;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 1s 0.5s ease-out;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(250, 250, 250, 0.5); */
}

.content {
  width: 100%;
  max-width: 430px;
  box-shadow: 0px 0px 14px rgb(24 24 24 / 10%);
}

section {
  width: 100%;
}
/* intro */
section.intro {
  height: 100vh;
  text-align: center;
  position: relative;
  /* background-color: #fcfcfc; */
}

section.intro .box_path {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
section.intro .box_path svg {
  position: absolute;
  width: 100px;
  height: 100px;
}

section.intro .box_path .left_top {
  left: clamp(16px, 5.5vw, 20px);
  top: 16px;
}

section.intro .box_path .right_top {
  right: clamp(16px, 5.5vw, 20px);
  top: 16px;
  transform: rotate(90deg);
}
section.intro .box_path .left_bottom {
  left: clamp(16px, 5.5vw, 20px);
  bottom: 16px;
  transform: rotate(270deg);
}
section.intro .box_path .right_bottom {
  right: clamp(16px, 5.5vw, 20px);
  bottom: 16px;
  transform: rotate(180deg);
}

section.intro .box_path .line_top {
  position: absolute;
  top: 16px;
  left: clamp(116px, calc(5.5vw + 100px), 120px);
  right: clamp(116px, calc(5.5vw + 100px), 120px);
  height: 1px;
  background-color: #e2e2e4;
}

section.intro .box_path .line_left {
  position: absolute;
  top: 116px;
  bottom: 116px;
  width: 1px;
  left: clamp(16px, 5.5vw, 20px);
  background-color: #e2e2e4;
}

section.intro .box_path .line_right {
  position: absolute;
  top: 116px;
  bottom: 116px;
  width: 1px;
  right: clamp(16px, 5.5vw, 20px);
  background-color: #e2e2e4;
}

section.intro .box_path .line_bottom {
  position: absolute;
  bottom: 16px;
  left: clamp(116px, calc(5.5vw + 100px), 120px);
  right: clamp(116px, calc(5.5vw + 100px), 120px);
  height: 1px;
  background-color: #e2e2e4;
}

section.intro .container {
  padding-top: 10vh;
}

section.intro .box_animation {
  position: relative;
}

section.intro .box_animation strong {
  font-size: 3.5rem;
  line-height: 1.6;
}

section.intro .box_animation .bar {
  margin: 0.8rem auto 1.6rem;
  width: 1px;
  opacity: 0;
  height: 0;
  background-color: #aaa;
  transition: height 0.5s 1s cubic-bezier(0.09, 0.24, 0.37, 0.94);
  will-change: height;
}

section.intro .info em {
  margin-bottom: 8vh;
  font-size: 1.6rem;
  line-height: 1.4;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s 1.3s;
}

section.intro .info em small {
  font-size: 1.4rem;
}

section.intro .info .schedule {
  opacity: 0;
  will-change: opacity;
  transition: opacity 1.7s 1.3s;
}

section.intro .info span {
  font-size: 16px;
  line-height: 1.6;
}

/* greeting */
section.greeting {
  position: relative;
}
section.greeting .container {
  width: 100%;
}
section.greeting .images {
  overflow: hidden;
}
section.greeting .images img {
  position: relative;
  height: auto;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

section.greeting .messages {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  top: 10vh;
  color: #fff;
  text-align: center;
}

section.greeting .messages .main-message p {
  font-size: 1.4rem;
  color: #fff;
}

/* ******* */
/* contact */
/* ******* */
section.contact {
  padding: 64px 16px 64px;
  background-color: #fff;
}

section.contact .wrap_contact {
  margin: 0 auto 54px;
  padding: 0 20px;
}

section.contact .wrap_contact .title {
  margin-bottom: 32px;
  font-size: 1.35rem;
  text-align: center;
}

section.contact .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 12px 0;
}

section.contact .row strong {
  font-size: 1.2rem;
}

section.contact .bride {
  margin-top: 48px;
}
section.contact .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
}
section.contact .btns a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #fafafa; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7f7f7;
}

section.contact .btns a i {
  font-size: 20px;
}

section.contact .sub {
  display: flex;
  justify-content: center;
  text-align: center;
  column-gap: 44px;
}

section.contact .sub .btns {
  margin-top: 8px;
}
section.contact .sub .parents strong {
  font-size: 16px;
}
section.contact .sub .parents span {
  margin-top: 20px;
}

/* ******** */
/* calendar */
/* ******** */
section.calendar {
  padding: 64px 16px 64px;
  background-color: #fefbfb;
}

section.calendar .head {
  text-align: center;
}

section.calendar .head strong {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 12px;
  color: #888;
  letter-spacing: 3px;
}

.calendar_wrapper {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #fff5f5;
}

.calendar_wrapper .summ {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 18px 28px;
  border-bottom: 1px solid #eee;
}
.calendar_wrapper .summ em {
  font-weight: bold;
  font-size: 1.4rem;
}
.calendar_wrapper .summ em + em {
  font-size: 1.1rem;
}

.calendar {
  height: 100%;
  width: 100%;
}

.table_calendar .calendar_body {
  padding: 16px;
}

.table_calendar .head {
  font-size: 13px;
  color: #ff7373;
}
.table_calendar .calendar_body .row {
  display: flex;
}
.table_calendar .head,
.table_calendar .day {
  width: 14.28%;
  height: 36px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  word-break: break-all;
}

.table_calendar .day > span {
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
}
.table_calendar .dday {
  position: relative;
}
.table_calendar .dday > span {
  position: relative;
  z-index: 10;
  border-radius: 50%;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
}

/* ******** */
/* location */
/* ******** */

section.location {
  padding: 64px 16px;
  text-align: center;
}
section.location .title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.3rem;
}

section.location address {
  margin-bottom: 24px;
}

section.location .description {
  text-align: left;
  margin-top: 32px;
}
section.location .description p {
  display: flex;
}

section.location .description p.column {
  flex-direction: column;
}

section.location .description p + p {
  margin-top: 2px;
}
section.location .description p strong {
  font-weight: bold;
  font-size: 1.2rem;
}
section.location .description p span {
  font-size: 1.1rem;
}

section.location .description p small {
  padding-top: 4px;
  line-height: 1.4;
  font-size: 0.9rem;
}

section.location .description p small i {
  line-height: 1.4;
  font-size: 0.9rem;
}

section.location .description p small b {
  display: block;
  margin-top: 8px;
  font-size: 1.1rem;
}

section.location .description p small u {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  padding-left: 8px;
}

section.location .description p em {
  min-width: 120px;
  line-height: 1.8;
}

section.heart {
  padding: 48px 16px 64px;
  background-color: #fff3f3;
}

section.heart strong {
  font-size: 1.3rem;
  text-align: center;
}

.banner_bouquet {
  text-align: center;
  font-size: 1.1rem;
}

.banner_bouquet img {
  width: 24px;
  height: auto;
  margin: 16px auto;
}

@media screen and (min-height: 667px) {
  section.intro .container {
    padding-top: 15vh;
  }
}

@media screen and (min-height: 768px) {
  section.intro .container {
    padding-top: 17vh;
  }
}

@media screen and (min-height: 820px) {
  section.intro .container {
    padding-top: 19vh;
  }
}

@media screen and (max-width: 340px) {
  section.contact .wrap_contact {
    max-width: 280px;
    padding: 0 10px;
  }
  section.calendar .head strong {
    font-size: 11px;
    letter-spacing: 1.5px;
  }

  section.contact .row strong {
    font-size: 1.1rem;
  }

  .calendar_wrapper .summ {
    padding: 18px;
  }

  section.greeting .messages .main-message p {
    font-size: 1.2rem;
  }
}
